body {background-color:fbfbfb; font-family: 'Trebuchet MS', Helvetica, sans-serif; font-weight: 100}
table.data {
  max-width:960px;
  font-family: 'Ubuntu Mono';
  border-collapse:collapse;
  margin:1em 0;
  font-size: 0.80em;
}



/*
     FILE ARCHIVED ON 23:16:05 Jan 28, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:05:24 Feb 02, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 81.93
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.076
  cdx.remote: 0.071
  esindex: 0.01
  LoadShardBlock: 52.961 (3)
  PetaboxLoader3.datanode: 60.356 (4)
  CDXLines.iter: 19.861 (3)
  load_resource: 258.395
  PetaboxLoader3.resolve: 30.232
*/